body {
  margin-bottom: 3000px;
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
}

.right-sidebar {
  position: fixed;
  background-color: green;
  color: white;
  top: 0px;
  bottom: 50px;
  right: 0px;
  width: 100px;
}